$main-bg-color: #EDF2EC;
$nav-links-color: #010201;
$primary-title-color: #499A18;
$aсcent-title-color: #e06733;
$text-color: #717171;
$accent-text-color: #636060;
$border-color: #E3E1D5;
$light: #ffffff;
$dark: #000000;

$content-width: 1252px;
$desktop-width: 991px;
$tablet-width: 767px;
$mobile-width: 576px;